
    .header {
        background-color: #212529;
        color: white;
        padding: 3px 0;

        .container{
            width: 80%;
            margin: 0 auto;
        }
            .nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
               .link{
                text-decoration: none;
                color: white;
                font-size: 18px;
                margin-right: 10px;
               }
            }
           
    }
    .banner{
        text-align: center;
        margin: 50px 0;
        .container{
            background-color: #F8F9FA;
            border-radius: 5px;
            width: 80%;
            margin: 0 auto;
        }
        .bannerTitle{
            font-size: 35px;
            margin: 10px 0;
        }
        .bannerText{
            font-size: 25px;
            margin: 0px 65px;
        }
        .bannerBtn{
            margin: 20px 0 90px 0;
            padding: 15px 25px;
            font-size: 18px;
            border: none;
            color: white;
            background-color: #0B5ED7;
            border-radius: 8px;
            letter-spacing: 1px;
            transition: all 0.5s;
            cursor: pointer;
            &:hover{
                background-color: #0b5dd7d1;
            }
        }
    }
    .item{
        text-align: center;
        margin: 50px 0;
        .container{
            border-radius: 5px;
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 35px;
        }
        .card{
            background-color: #F8F9FA;
            border-radius: 8px;
            .cardContainer{
                position: relative;
                padding: 35px;
                margin: 0 23px;
                .icon{
                    position: absolute;
                    width: 65px;
                    height: 60px;
                    top: -26px;
                    left: 135px;
                    border-radius: 8px;
                }    
                .cardTitle{
                    font-size: 25px;
                    font-weight: 700;
                    margin: 0 10px;
                }
            }
        }
        
        
    }
    .footer{
        color: white;
        background-color: #212529;
        padding: 20px;
        font-size: 18px;
        text-align: center;
    }
